Reference/*
WindowsEmulator/.metadata/*
WindowsEmulator/code/.settings/*
WindowsEmulator/code/04_sdl/*
WindowsEmulator/code/05_build/*
WindowsEmulator/code/06_roms/*
WindowsEmulator/code/.cproject
WindowsEmulator/code/.project