Reference/*
WindowsEmulator/*
GameBoyEmulator/.metadata/*
GameBoyEmulator/roms/*
GameBoyEmulator/docs/*
GameBoyEmulator/code/.settings/*
GameBoyEmulator/code/build/*
GameBoyEmulator/code/legacy/*
GameBoyEmulator/code/linker/*