Reference/*
WindowsEmulator/.metadata/*
WindowsEmulator/code/.settings/*
WindowsEmulator/code/06_build/*
WindowsEmulator/code/07_roms/*
WindowsEmulator/code/98_include/*
WindowsEmulator/code/99_lib/*
WindowsEmulator/code/.cproject
WindowsEmulator/code/.project